#main{
	width: 350px;
    height: 450px;
    margin: 40px auto;
    box-shadow: 1px 2px 3px 1px #ccc;
    background: url('../img/timg.jpg');
    /*background-size: 350px 450px;*/

}
#topSearch{

	margin-top: 20px;
}

/*#topSearch input{
	width: 250px;
}*/